@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-BlackItalic.woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-ThinItalic.woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-Roman.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-Black.woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue';
    src: url('./HelveticaNeue/HelveticaNeue-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
