*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default transition durations */
* {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 8px;
  margin-block-end: 6px;
}
button { cursor: pointer; }
nav {
  display: block;
  position: fixed;
  bottom: 0; left: 0;
  margin-left: auto; margin-right: auto;
  min-height: 56px;
  width: 100%;
  background-color: #323741;
  overflow: hidden;
  z-index: 9;
}

:root {
  --bg-blue: #62B5E5;
  --bg-main: #ffd261;
  --bg-main-1: #e7c05e;
  --bg-dark: #333;
}

.capitalize {
  text-transform: capitalize;
}
.bold { font-weight: bold; }
.italic { font-style: italic; }

.App {
  margin: auto;
  text-align: center;
  background-color: #f7f7f7;
  min-height: 100vh;
  max-width: 1080px;
}

.appHeader {
  position: relative;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1em;
  font-weight: bold;
  border-bottom: 1px solid var(--bg-main-1);
  box-shadow: 0px 4px 12px #e4e4e4;
  z-index: 2;
}

.horizontal-list {
  display: flex;
  align-items: center;
  font-size: 0.6em;
  min-height: 56px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.horizontal-list i {
  display: block;
  font-size: 1.7em;
}
.horizontal-list > * {
  flex-basis: 25%;
  padding: 1em;
  /* height: 56px; */
}
.horizontal-list > *:hover {
  color: #fff;
  background-color: var(--bg-main);
}
.horizontal-list > *:hover a {
  color: #fff;
}
.horizontal-list a {
  color: #bbbbbb;
  text-decoration: none;
}

.modal {
  position: fixed;
  z-index: 8;
  top: 50%; left: 50%;
  width: auto; height: auto;
  background-color: #ffffffd7;
  overflow: hidden;
  border: 1px solid #282c34;
  transform: translate(-50%, -50%);
}
.modalContent{
  position: relative;
  width: 100%; height: 100%;
  z-index: 9;
  overflow: auto;
}

.formTitle {
  position: relative;
  background-color: #fff;
  padding: 8px;
  border-bottom: 4px solid #e4e4e4;
  box-shadow: 0px 4px 8px #e4e4e4;
  margin-bottom: 1em;
  z-index: 1;
}
.form {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 2em;
  border: 1px solid #e4e4e4;
  border-radius: 0.25em;
  box-shadow: 0px 4px 8px #e4e4e4;
  z-index: 1;
}
.form input {
  display: block;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 1px solid #e4e4e4;
}
.form input:focus {
  outline: 2px solid var(--bg-main);
}
.form input::placeholder {
  font-size: 0.8em;
  font-family: 'HelveticaNeue', sans-serif;
}
.form button {
  font-size: 0.9em;
  padding: 6px 26px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  margin-top: 0.5em;
}
.form button:hover {
  transform: scale(1.02);
}
.form a {
  display: block;
  text-decoration: none;
  color: #54b4b4;
  font-size: 0.6em;
  margin-top: 6px;
}

.errors {
  color: #b32d2d;
  font-size: 0.85em;
}
.errors > *:before {
  content: '• ';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
